<header>
    <nav class="navbar">
        <div class="navbar-content">
            <!-- Container for the FontAwesome Icon -->
            <div class="nav-left">
                <a href="/" class="nav-icon">
                    <img src="/images/Clear-Edit-Pen-Write-Paper--Streamline-Freehand.png" alt="">
                </a>
            </div>

            <div class="nav-title">
                <h1>Book Reviews</h1>
            </div>

            <!-- Container for Navigation Links -->
            <div class="nav-center">
                <a href="/">Home</a>
                <!-- Add more navigation links if needed -->
                <% if (locals.currentPage) { %> 
                    <% if (currentPage.toString().toLowerCase() !== 'book' && currentPage.toString().toLowerCase() !== 'editbook') { %>
                        <a href="/books/new">Add New Book</a>         
                    <% } %>
                    <% if (currentPage.toString().toLowerCase() === 'book') { %>
                        <a href="/books/<%= book.id %>/edit">Edit Book</a>
                        <% if (locals.book) { %>
                            <% if (book.deletable) { %>
                                <a href="#" class="delete-link" data-id="<%= book.id %>">Delete Book</a>                             
                            <% } %>                         
                        <% } %>
                    <% } %>
                    <% if (currentPage.toString().toLowerCase() === 'editbook') { %>
                        <a href="/books/<%= book.id %>">Back to Book Details</a>
                    <% } %>
                    
                <% } %>
            </div>
        </div>
    </nav>
</header>

<!-- Hidden form for delete request -->
<form id="delete-form" action="" method="POST" style="display:none;">
    <input type="hidden" name="_method" value="DELETE">
</form>