<header>
    <nav class="navbar">
        <div class="navbar-content">
            <div class="nav-left">
                <a href="/" class="nav-icon">
                    <img src="/images/Clear-Edit-Pen-Write-Paper--Streamline-Freehand.png" alt="">
                </a>
            </div>

            <div class="nav-title">
                <h1>Book Reviews</h1>
            </div>

            <!-- Hamburger Menu Icon -->
            <div class="nav-toggle" id="nav-toggle">
                &#9776; <!-- This is a simple hamburger icon, you can replace it with an image or FontAwesome icon if you prefer -->
            </div>

            <!-- Container for Navigation Links -->
            <div class="nav-center" id="nav-links">
                <a href="/">Home</a>
                <!-- Add more navigation links if needed -->
                <% if (locals.currentPage) { %> 
                    <% if (currentPage.toString().toLowerCase() !== 'book' && currentPage.toString().toLowerCase() !== 'editbook' && currentPage.toString().toLowerCase() !== 'addbook') { %>
                        <a href="/books/new">Add New Book</a>         
                    <% } %>
                    <% if (currentPage.toString().toLowerCase() === 'book') { %>
                        <a href="/books/<%= book.id %>/edit">Edit Book</a>
                        <% if (locals.book) { %>
                            <% if (book.deletable) { %>
                                <a href="#" class="delete-link" data-id="<%= book.id %>">Delete Book</a>                             
                            <% } %>                         
                        <% } %>
                    <% } %>
                    <% if (currentPage.toString().toLowerCase() === 'editbook') { %>
                        <a href="/books/<%= book.id %>">Back to Book Details</a>
                    <% } %>
                    
                <% } %>
            </div>
            <!-- Search Form (Visible only on index page) -->
            <% if (currentPage.toString().toLowerCase() !== 'book' && currentPage.toString().toLowerCase() !== 'editbook' && currentPage.toString().toLowerCase() !== 'addbook') { %>
                <form action="/" method="GET" class="search-form navbar-search-form">
                    <div class="search-container">
                        <label for="search">Search:</label>
                        <input type="text" name="search" id="search" placeholder="Search for books or authors..." value="<%= search || '' %>">
                        <button type="submit">Apply</button>
                    </div>
                </form>
            <% } %>
        </div>
    </nav>
</header>

<!-- Hidden form for delete request -->
<form id="delete-form" action="" method="POST" style="display:none;">
    <input type="hidden" name="_method" value="DELETE">
</form>