/*#region GeneralStyles */
body {
    font-family: Arial, sans-serif;
    background-color: #F7F8F3; /* Updated to the new color palette */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #002C3E; /* Dark blue for header/footer */
    color: #F7F8F3; /* Light background for text */
    padding: 10px;
    text-align: center;
}

.sort-form, .add-book-form, .add-review-form {
    margin: 20px 0;
}

/*#endregion GeneralStyles */

/*#region HeaderStyles */

/* Flex container for navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #002C3E;
    position: relative;
}

.navbar-content {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative; /* Allows absolute positioning of .nav-center */
}

/* Flex container for nav-left and nav-center */
.navbar > div {
    display: flex;
    align-items: center;
}

/* Flex container for the leftmost icon */
.nav-left {
    flex-shrink: 0; /* Prevents shrinking */
}

/* Flex container for title*/
.nav-title {
    flex-shrink: 0; /* Prevents shrinking */
    margin: 0px;
    padding: 0px;
}

.nav-title h1 {
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}

/* Hamburger Menu Icon */
.nav-toggle {
    display: none; /* Hide by default */
    font-size: 1.5em;
    cursor: pointer;
    color: #F7F8F3;
    padding: 10px;
    margin-left: auto; /* Pushes the hamburger icon to the right */
}

/* Flex container for navigation links */
.nav-center {
    /* flex: 1;  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Space between links */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

/* Styling for icon */
.nav-icon {
    font-size: 1.5em; /* Adjust size as needed */
    color: #F7F8F3; /* Adjust color as needed */
    text-decoration: none;
}

.navbar a {
    color: #F7F8F3; /* Light text color for nav links */
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Hide nav-center links by default on small screens */
.nav-center {
    display: flex;
}

/* Hide nav-center links by default on small screens */
.nav-center.hidden {
    display: none;
}

/* Show nav-center when active */
.nav-center.show {
    display: flex;
}

/*navbar-search-form relates styles*/
.navbar-search-form {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the search form to the right */
}

.navbar-search-form .search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-search-form label {
    margin-right: 5px;
}

.navbar-search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.navbar-search-form button {
    background-color: #002C3E;
    color: #F7F8F3;
    border-color: #78BCC4;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-search-form button:hover {
    background-color: #78BCC4;
    color: #002C3E;
}

@media (max-width: 768px) {
    .nav-center {
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        right: 0;
        background-color: #002C3E;
        width: 100%;
        display: none; /* Hide by default on small screens */
        gap: 10px;
        padding: 10px;
        margin: 0; /* Remove margin to fit full width */
        left: 0; /* Align to the left side on small screens */
        transform: none; /* Remove transform on small screens */        
    }

    .nav-toggle {
        display: block; /* Show hamburger icon on small screens */
    }

    .navbar-search-form {
        display: none;
    }
}


/*#endregion HeaderStyles */

/*#region IndexStyles */
main {
    padding: 20px;
}

.sort-form label {
    margin-right: 10px;
}

.sort-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#sort:hover {
    padding: 10px;
    border: 1px solid #78BCC4;
    border-radius: 4px;
}

.book-list, .reviews {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.book-cover {
    width: 150px; 
    height: 200px;
    object-fit: cover; 
    margin: 0 auto; 
    overflow: hidden;
}

.book-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 250px; 
    height:405px; 
    overflow: hidden;
}

.book-item:hover {
    border-color: #78BCC4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.book-item img {
    max-width: 100%; 
    max-height: 50%; 
    object-fit: cover;
    margin-bottom: 10px;
}

.book-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.book-details p {
    margin: 0;
    word-wrap: break-word;
}

.book-details > .book-author {
    margin: 0;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.book-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.book-actions form {
    margin: 0;
}

.edit-button, .delete-button {
    background-color: white;
    color: #333;
    border: 2px solid;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    line-height: 1;
}

.edit-button {
    border-color: #78BCC4; /* Secondary color for edit button border */
    color: #78BCC4; /* Secondary color for edit button text */
    height: 16px;
}

.edit-button:hover {
    background-color: #78BCC4; /* Secondary color background on hover */
    color: white; /* White text on hover */
}

.delete-button {
    background-color: white;
    color: #F7444E; /* Primary color for delete button text */
    border: 2px solid #F7444E; /* Primary color for delete button border */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #F7444E; /* Primary color background on hover */
    color: white; /* White text on hover */
}

.star {
    font-size: 1.5em;
    color: #aedde2; /* Light star color */
    margin-right: 2px;
}

.star.filled {
    color: #F7444E; /* Use primary color for filled stars */
}

@media (max-width: 768px) {
    .book-list{
        justify-content: center; /* Center items horizontally */
    }

    .book-item {
        width: 200px; /* Adjust width for smaller screens */
        height: 300px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .book-list{
        justify-content: center; /* Center items horizontally */
    }

    .book-item {
        width: 200px; /* Further adjust width for very small screens */
        height: 300px; /* Further adjust height for very small screens */
    }
}

/*#endregion IndexStyles */

/*#region AddBookStyles & EditBookStyles */
.add-book-form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.form-review{
    grid-column: span 2;
    grid-column-start: 1;
    grid-column-end: 3;    
}

.cover-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-details img {
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #78BCC4; /* Light blue border */
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #F7444E; /* Red border on focus */
    outline: none;
}

.submit-button {
    background-color: #002C3E; /* Dark blue background */
    color: #F7F8F3; /* Light text color */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
    background-color: #78BCC4; /* Light blue background on hover */
    color: #002C3E; /* Dark text color on hover */
}

.cover-container {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}

#coverImage {
    max-width: 150px;
    max-height: 200px;
    width: 100%;
    height: 190px;
    border: 1px solid #78BCC4; /* Light blue border */
    border-radius: 4px;
    box-sizing: border-box;
}
.stars {
    display: flex;
    direction: rtl;
    width: 100px;
}

.stars input {
    display: none;
}

.stars label {
    color: #aedde2; /* Light star color */
    font-size: 24px;
    cursor: pointer;
}

.stars input:checked ~ label {
    color: #F7444E; /* Red color for selected stars */
}

.stars input:checked ~ label ~ label {
    color: #F7444E; /* Red color for selected stars */
}

.stars input:checked ~ input ~ label {
    color: #F7444E; /* Red color for selected stars */
}

.stars input:not(:checked) ~ label:hover,
.stars input:not(:checked) ~ label:hover ~ label {
    color: #F7444E; /* Red color for selected stars */
}

.review-input {
    width: 100%;
}

/*#endregion AddBookStyles & EditBookStyles */

/*#region SearchSortFormStyles */
.search-sort-form {
    margin: 20px 0;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 10px;
}

.search-sort-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-between; /* Space between left and right groups */
    align-items: center;
    /* gap: 10px; */
    width: 100%;
}

/* Style for form elements in the left group (Sort by) */
.search-sort-container .left-group {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    gap: 10px; /* Space between items */
}

/* Style for form elements in the right group (Search) */
.search-sort-container .right-group {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    gap: 10px; /* Space between items */
}

.search-sort-container label {
    margin-right: 10px;
}

.search-sort-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-sort-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
}

/* Style for individual form elements */
.search-sort-container label,
.search-sort-container select,
.search-sort-container input[type="text"],
.search-sort-container button {
    margin: 0; /* Remove default margin */
}

.search-sort-container button {
    background-color: #002C3E;
    color: #F7F8F3;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.search-sort-container button:hover {
    background-color: #78BCC4; /* Light blue background on hover */
    color: #002C3E; /* Dark text color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-sort-container {
        flex-direction: column; /* Stack elements vertically */
    }

    .search-sort-container .left-group,
    .search-sort-container .right-group {
        flex-direction: column; /* Stack items within each group vertically */
        width: 100%; /* Full width on smaller screens */
    }

    .search-sort-container .right-group {
        margin-top: 10px; /* Add margin to separate from left group */
    }
}

/*#endregion SearchSortFormStyles */

/*#region PaginationStyles */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #002C3E;
    text-decoration: none;
}

.page-link.active {
    background-color: #002C3E;
    color: #F7F8F3;
    border-color: #002C3E;
}

.page-link:hover {
    background-color: #78BCC4;
    color: #002C3E;
}
/*#endregion PaginationStyles */


